import type { Config } from "./src/types";

export const config: Config = {
  host: "localhost",
  port: 25565,
  username: "StatisBot",
  auth: "offline",
  version: "1.21.8",
  homePosition: { x: 0, y: 0, z: 0 }, 
  whitelist: [
    "Notch"
  ]
  reconnectInterval: 10, // in seconds
  modules: {
    autoEat: true,
    armorManager: true,
    velocity: true,
    noFall: true,
    lookAtPlayers: true,
    autoTotem: true,
    stasis: true,
    autoLog: true,
    stayAtHome: true,
    killAura: {
      enabled: true,
      whitelist: ["player", "enderman", "zombified_piglin"]
    },
  }
};